#nheader {
	background-image: : url('images/back.png');
	background-color:black;
	padding: 30px;
	height: 50px;
	text-align: center;

}
a{
	text-decoration:none;
	color:white;
}

ul{
	padding-top:0px;
	float: right;

}
li {
	display: inline-block;
	padding-right: 35px;
}
.left {
	float:left;
	color:white;
	padding-top:0px;
	margin:0px;
	font-family:calibri;
	font-size:1em;
	text-align:left;

};